{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Vai chover em Ribeirão?{% else %}Vai chover em Ribeirão?{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark mx-auto">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand pull-sm-left" href="{{ url_for('index') }}">Vai chover em Ribeirão?</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
