{% extends "base.html" %}

{% block app_content %}

    {% if umbrella_days %}
        <h2 class="mt-3 text-center">{{ phrase }} {{ umbrella_days }}.</h2>
    {% endif %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-25">
                <div class="card-deck" style="min-width: 75em">
                    {% for day in prepared_data %}
                        {% include '_day.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}